@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Poppins&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Honk&display=swap");


body{
    --bs-body-bg: white;
}

#inicio{
    margin-top: 2rem;
    padding-top: 2rem; 
}

#contato {
    margin-top: 2rem;
    padding-top: 2rem;
    background-color: blue;
}

.navbar-brand{
   font-family: "Alkatra", sans-serif;
   color: white;
}

.nav-item a{
   font-family: 'Poppins', sans-serif;
   color: white;
   font-size: 1.3rem;

}

.bg-yellow h4 {
    line-height: 1.8; /* Ajuste o valor conforme necessário */
}
.bg-yellow {
    margin-top: 2rem;
    padding-top: 2rem;
    background-color: yellow;
}

.text-center{
    position: center;
}

p, ul{
    color: white;
    font-family: 'Poppins', sans-serif;
}


h1, h3, h2, h4{
    color: black;
    font-family: "Open Sans", sans-serif;
}

.social-icons {
    font-size: 40px;
    cursor: pointer;
}

.fa-brands:hover,.fa-square-envelope:hover,.fa-linkedin:hover {
    color: #A48C42;
}

.fab, .fa-solid {
    color: yellow;
}

footer {
    text-align: center;
}

.fa-heart {
    color: #FF0000;
}

#contato {
    padding-bottom: 2rem;
}